.user {
    color: #dda0dd;
}

footer {
    margin-top: 7.4%;
    font-size: small;
}

.outer-container {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-image {
    object-fit: contain;

}
.social-img {
    width: auto;
}

.text-social {
    flex:auto;
    flex-direction: column;
}
.showcase {
    width:100%
}
.mod-title {
    color:springgreen
}
.showcase-content {
    align-items: center;
    justify-content: center;
    display: flex;
}
.showcase-description {
    width: 50%;
}
.showcase-gallery {
    width: 50%;
    display: flex;
}
.showcase-image {
    width: 64px;
    height: auto;
}

@media (orientation: landscape) {
    .outer-container {
        display: flex;
    }

    .text-section {
        padding-left: 40px;
    }
    .home-image {
        height: 175px;
        width: 175px;
        padding-left: 30%;
    }
    h1 {
        font-size: 70px;
    }

    p {
        font-size: larger;
    }

    .social-img {
        height: 50px;
    }
    .profile {
        justify-content: center;
        align-items: center;
    }
}

@media (orientation: portrait) {
    .outer-container {
        display: block;
    }

    .content-container {
        flex-direction: column;
    }

    .text-section {
        padding-left: 0;
        padding-top: 20px;
    }
    .home-image {
        height: 75%;
        width:75%;
        padding-left: 12.5%;
    }
    h1 {
        font-size: 140px;
        text-align: center;
    }
    p {
        font-size: 210%;
        text-align: center;
    }

    .social-img {
        height: 200px;
    }

    .social {
        padding-left: 18%;
    }
}